<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <div class="content-header">
   Posts / Add New 
  </div>

  <!-- /.content-header -->
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-body">
      <form>
        <div class="form-group">
          
          <label for="category">Users</label>
          
            <select id="category">
              <option value="">All</option>
              <option value="">Approved</option>
              
            </select>
          
         
            <select type="text" formControlName="postCatControl" class="form-control" id="category" placeholder="Categories">
                <option> </option>
            </select>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
              <thead>
              <tr>
                <th>National ID /th>
                <th>Name</th>
                <th>Profession</th>
                <th>Email</th>
                <th>Affiliation</th>
                <th>Type</th>
                <th>Action</th>
    
    
              </tr>
              </thead>
    
              <tbody>
    
              <tr>
                <td>10022329v</td>
                <td>John Doe</td>
                <td>Designer</td>
                <td>johndoe@gmail.com</td>
                <td>Joining</td>
                <td>Student</td>
                <td><a href="#">View Profile</a> / <a href="#">Delete</a></td>
    
              </tr>
    
              <tr>
                <td>10022329v</td>
                <td>John Doe</td>
                <td>Designer</td>
                <td>johndoe@gmail.com</td>
                <td>Joining</td>
                <td>Student</td>
              <td><a href="#">View Profile</a> / <a href="#">Delete</a></td>

                   
              </tr>
    
               <tr>
                <td>10022329v</td>
                <td>John Doe</td>
                <td>Designer</td>
                <td>johndoe@gmail.com</td>
                <td>Joining</td>
                <td>Student</td>
                <td><a href="#">View Profile</a> / <a href="#">Delete</a></td>
    
              </tr>
    
              </tbody>
            </table>
          </div>
        </div>
       

        
      </form>
    </div>
  </div>
</div>
